@{
    ViewData["Title"] = "Logowanie";
}

@model CinemaSite.ViewModels.AccountViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="overcontainer">
    <h1 class="page-title">LOGOWANIE</h1>

    <div class="form-container">
        <form class="user-form" asp-action="KontoLogowanie" method="post">
            <input class="form-field" asp-for="email" id="email" placeholder="Adres e-mail" />
            <input class="form-field" asp-for="password_unhashed" id="password" type="password" placeholder="Hasło" />
            <input type="hidden" name="rmovie" value="@ViewData["rmovie"]" />
            <input type="hidden" name="rscreen" value="@ViewData["rscreen"]" />
            <button class="form-button" id="submit-button" type="submit">Zaloguj się</button>
        </form>
        <a class="login-do-rejestracji" asp-area="" asp-controller="Account" asp-action="Rejestracja">Załóż konto</a>
    </div>
</div>