@{
    ViewData["Title"] = "Rejestracja";
}

@model CinemaSite.ViewModels.AccountViewModel

<div>
    <form asp-action="NowyUzytkownik" method="post">
        <input asp-for="username" placeholder="Nazwa Uzytkownika" />
        <input asp-for="email" placeholder="Adres e-mail" />
        <input asp-for="phone" placeholder="Numer telefonu" />
        <input id="password" asp-for="password_hash" placeholder="Hasło" />
        <input id="repeat-password" placeholder="Powtórz Hasło" />
        <button type="submit">Zarejestruj</button>
    </form>
</div>

<script src="~/js/detail-validation.js"></script>