.admin-form {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    border-radius: 50px;
    padding: 3vh 3vw 3vh 3vw;
    margin: 1vw 1vw 1vw 1vw;
}

.admin-modal {
    position: fixed;
    background-color: rbga(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.admin-modal-info {
    padding: 2vw;
    max-height: 83vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.form-xbutton {
    height: 40px;
    width: 40px;
}

#movie-table, #article-table {
    margin-top: 20px;
}

.movie-row, .article-row {
    border: #777777 2px solid;
}

.movie-row td, .article-row td {
    padding: 10px;
}

.movie-details-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detaildiv {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.detaildiv img {
    width: 4vw;
    height: auto;
}

.detaildiv p {
    width: 6vw;
}

textarea {
    width: 600px;
    height: 250px;
}

fieldset {
    margin-top: 2vh;
}

.movie-details-form div {
    display: flex;
    align-items: center;
}

.checkbox-input {
    width: 20px;
    height: 20px;
}

#screening-form-interior {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-screening {
    margin-top: 10px;
    width: 600px;
}

.genreBox {
    justify-content: end;
    margin-right: 50vw;
}


@media (max-width: 1400px) {
    .admin-modal-info {
        flex-direction: column;
    }

    .genreBox {
        margin-right: 80vw;
    }
}

label {
    margin-right: 10px;
}