/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.custom-navbar {
    background-color: #E6164B;
    position: fixed;
    top: 0px;
    z-index: 998;
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: static;
    flex-shrink: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: black;
    display: flex;
    padding-left: 5vw;
}

.nav-logo {
    height: 80px;
    width: auto;
    transition: 0.25s;
}
.nav-logo:hover {
    filter: invert(100%);
}

.nav-link {
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /*
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    */
    font-size: 34px;
    margin-left: 3vw;
}

.blacklink {
    color: black;
    transition: 0.2s ease-in-out;
}
.blacklink:hover {
    color: white;
    text-shadow: 4px 4px 4px black;
    transform: translate(-4px, -4px);
}

.whitelink {
    color: white;
    transition: 0.2s ease-in-out;
}
.whitelink:hover {
    color: black;
    text-shadow: 4px 4px 4px white;
    transform: translate(-4px, -4px);
}

#navmenu {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#hamburger-button {
    width: 30px;
    height: 30px;
    display: none;
}

#dropdown-hamburger {
    background-color: #E6164B;
    position: fixed;
    width: 80vw;
    height: 100vh;
    top: 0;
    left: 20vw;
    transform: translateX(80vw);
    z-index: 999;
    transition: 0.5s ease-in-out;
    display: none;
}

@media (max-width: 1200px) {
    #navmenu {
        display: none;
    }

    #hamburger-button {
        display: flex;
    }

    #dropdown-hamburger {
        display: flex;
        flex-direction: column;
    }
}

.popout {
    transform: translateX(0) !important;
}

body {
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

#main-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80%;
}