.overcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 1vh 4vw 3vh 2vw;
    margin: 1vw 1vw 1vw 1vw;
}

@media (max-width: 800px) {
    .form-container {
        padding: 20px;
    }
}

.overcontainer .form-container {
    max-width: 800px;
}

.form-container h1 {
    color: black;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.form-field {
    background-color: #FFFFFF;
    opacity: 100%;
    padding: 0 1vw 0 1vw;
    border: 2px black solid;
    border-radius: 30px;
    height: 50px;
    margin: 1vw 1vw 1vw 1vw;
    width: 100%;
    max-width: 700px;
}

.user-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
}

.user-details a {
    background-color: rgb(0, 0, 0, 0.00);
    color: black;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px 0px 10px;
    border: black 2px solid;
    border-radius: 15px;
    transition: 0.5s;
}

.user-details a:hover {
    background-color: #E6164B;
    border: #E6164B 2px solid;
    color: white;
}

@media (max-width: 800px) {
    .user-details {
        flex-direction: column;
        align-items: center;
    }
}

.user-info {
    font-size: 32px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.user-tickets-title {
    font-size: 22px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.user-ticket-table th {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

.user-ticket {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

hr {
    color: black;
    background: black;
    border-color: black;
}

.login-do-rejestracji {
    color: #E6164B !important;
}

.login-do-rejestracji:hover {
    color: #960004 !important;
}

@media (max-width: 1200px) {
    .user-info {
        font-size: 24px;
    }

    .user-tickets-title {
        font-size: 20px;
    }

    .user-ticket-table th {
        font-size: 14px;
    }

    .user-ticket {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .user-info {
        font-size: 20px;
    }

    .user-tickets-title {
        font-size: 16px;
    }

    .user-ticket-table th {
        font-size: 12px;
    }

    .user-ticket {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .user-info {
        font-size: 16px;
    }

    .user-tickets-title {
        font-size: 16px;
    }

    .user-ticket-table th {
        font-size: 11px;
    }

    .user-ticket {
        font-size: 10px;
    }
}