body {
    background-image: url("/Content/posters.jpg");
}
/*    add this somewhere later ^^^ */

#search-tools {
    background-color: #EEEEEE;
    border-radius: 50px;
    padding: 0 2vw 0 2vw;
    margin: 1vw 1vw 1vw 1vw;
    
    color: black;
    font-size: 30px;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#search-tools select {
    border: 2px black solid;
    transition: 0.3s;
}

#search-tools select:hover {
    border: 2px #E6164B solid;
}

#search-tools option {
    font-size: 18px;
}

@media (max-width: 1060px) {
    #search-tools {
        flex-direction: column;
        padding: 3vh 3vh 3vh 3vh;
    }
}

.search-container {
    background-color: #FFFFFF;
    padding: 0 1vw 0 1vw;
    border-radius: 30px;
    height: 70px;
    margin: 1vw 1vw 1vw 1vw;
    width: 100%;
}

#searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchbar-container span {
    transition: 0.3s;
}

#searchbar-container:hover span {
    color: #E6164B;   
}

#title-search {
    height: 100%;
    width: 100%;
    border: 0px white solid;
}

.movie-row {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 1100px) {
    .movie-row {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.movie-row img {
    max-width: 270px;
    max-height: 420px;
}

.screening-box {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.control-div button {
    width: 100%;
}

.screening-items {
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: white;
}

.movie-thumbnail {
    margin: 0 10px 0 -10px;
}

.movie-thumbnail h2 {
    color: white;
    transition: 0.3s ease-in-out;
}

.movie-thumbnail:hover h2 {
    color: #E6164B;
}

@media (max-width: 1500px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1300px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1200px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1100px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .movie-thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0 15px 0;
    }
}
@media (max-width: 1000px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 700px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.day-header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

@media (max-width: 1040px) {
    .control-div button {
        font-size: 14px;
    }

    .day-header {
        font-size: 13px;
    }
}

.screening-item {
    width: calc(100% - 10px);
    height: auto;
    margin: 10px 5px 10px 5px;
    background-color: #32373B;
    transition: 0.5s;
}

.screening-item:hover {
    background-color: #E6164B;
}

.screening-item a {
    border: white 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 30px;
    color: white;
}

.screening-item a p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 30px;
    margin: 0;
}

.screening-item a p i {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.innerdiv {
    transition: 0.3s ease-in-out;
}

@media (min-width: 1000px) {
    .innerdiv:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 7px 7px;
        transform: translate(-3px, -3px);
    }
}



.modal-bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    background-color: rgba(50, 55, 59, 100);
    color: white;
    padding: 3vw;
    border-radius: 3vw;
    width: 85vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.modal-header-container {
    display: flex;
    justify-content: space-between;
}

.modal-header-container button {
    height: 50px;
    width: 48px;
}

.modal-header {
    width: 70vw;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-wrap: wrap;
}

.modal-important {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.modal-poster {
    width: auto;
    height: 70%;
}

.modal-text {
    width: 40vw;
    max-height: 60vh;
    overflow-y: scroll;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    text-wrap: wrap;
    word-wrap: anywhere;
    white-space: pre-line;
}

.modal-video {
    aspect-ratio: 16 / 9;
    height: calc(20vh + 10vw);
}


@media (max-width: 900px) {
    .modal-window {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .modal-important {
        min-height: 1000px;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        justify-content: center;
        align-items: center;
    }

    .modal-poster {
        width: 70vw;
        height: auto;
    }
}
