body {
    background-image: url("/Content/posters.jpg");
}
/*Photo by <a href="https://unsplash.com/@reganography?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Samuel Regan-Asante</a> on <a href="https://unsplash.com/photos/the-walking-dead-dvd-movie-wMkaMXTJjlQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      add this somewhere later ^^^ */

#search-tools {
    background-color: #EEEEEE;
    border-radius: 50px;
    padding: 0 2vw 0 2vw;
    margin: 1vw 1vw 1vw 1vw;
    
    color: black;
    font-size: 30px;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#search-tools select {
    border: 2px black solid;
    transition: 0.3s;
}

#search-tools select:hover {
    border: 2px #E6164B solid;
}

#search-tools option {
    font-size: 18px;
}

@media (max-width: 1060px) {
    #search-tools {
        flex-direction: column;
        padding: 3vh 3vh 3vh 3vh;
    }
}

.search-container {
    background-color: #FFFFFF;
    padding: 0 1vw 0 1vw;
    border-radius: 30px;
    height: 70px;
    margin: 1vw 1vw 1vw 1vw;
    width: 100%;
}

#searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchbar-container span {
    transition: 0.3s;
}

#searchbar-container:hover span {
    color: #E6164B;   
}

#title-search {
    height: 100%;
    width: 100%;
    border: 0px white solid;
}

.movie-row {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 1000px) {
    .movie-row {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.movie-row img {
    max-width: 270px;
    max-height: 420px;
}

.screening-box {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.control-div button {
    width: 100%;
}

.screening-items {
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: white;
}

@media (max-width: 1400px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1200px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1100px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1000px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 800px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .screening-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.day-header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

@media (max-width: 1040px) {
    .control-div button {
        font-size: 14px;
    }

    .day-header {
        font-size: 13px;
    }
}

.screening-item {
    width: calc(100% - 10px);
    height: auto;
    margin: 10px 5px 10px 5px;
    background-color: #32373B;
    transition: 0.5s;
}

.screening-item:hover {
    background-color: #E6164B;
}

.screening-item a {
    border: white 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 30px;
    color: white;
}

.screening-item a p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 30px;
    margin: 0;
}

.screening-item a p i {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.innerdiv {
    transition: 0.3s ease-in-out;
}

@media (min-width: 1000px) {
    .innerdiv:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 7px 7px;
        transform: translate(-3px, -3px);
    }
}