* {
    margin: 0px;
    padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    background-image: url("/Content/posters.jpg");
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

.custom-button {
    background-color: rgb(0, 0, 0, 0.00);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 0 10px 5px 10px;
    border: white 2px solid;
    border-radius: 5px;
    transition: 0.5s;
}

.custom-button:hover {
    background-color: #E6164B;
}

.custom-button:active {
    border: white 2px groove;
    transition: 0s;
}

/*custom checkbox stuff - https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
.checkbox-container {
    display: flex;
    flex-direction: row;
    position: relative;
    font-style: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-around;
    align-items: center;
}

.checkbox-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox {
    aspect-ratio: 1 / 1;
    width: calc(17px + 4%);
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
    transition: 0.5s;
}

.checkbox-container:hover input ~ .custom-checkbox {
    border: #E6164B 2px solid;
}

.checkbox-container input:checked ~ .custom-checkbox {
    background-color: #E6164B;
    border: white 2px solid;
    transform: rotate(135deg);
}




.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.innerdiv {
    background-color: rgba(50, 55, 59, 0.95);
    border-radius: 50px;
    padding: 1vw 5vw 2vw 5vw;
    margin: 1vw 1vw 1vw 1vw;
    color: white;
    backdrop-filter: blur(5px);
}

.innerdiv h2 {
    color: white;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.container {
    flex: 1 0 auto;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}
/*
.space-even {
    justify-content: space-evenly;
    align-items: center;
}

.space-center {
    justify-content: center;
    align-items: center;
}
*/

.poster {
    width: auto;
    height: 300px;
}

.horizontal-scroll {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
}

.announcement {
    display: grid;
    grid-template-areas:
        "title title title"
        "image content content"
        "image content content";
    grid-template-columns: 1fr 2fr;
    grid-gap: 1px;
    width: 95%;
    flex: none;
    padding: 6px 2vw 0 0;
    margin-bottom: 25px;
}

.announcement h3 {
    grid-area: title;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: normal;
    justify-self: start;
}
.announcement img {
    grid-area: image;
    max-height: 15vw;
    width: 25vw;
    border-radius: 20px;
}

.announcement div {
    width: 100%;
    height: 15vw;
    overflow-y: scroll;
    margin-left: 2vw;
}

.announcement p {
    grid-area: content;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.article-container {
    scroll-snap-type: x mandatory;
    margin: 1vw 0vw 1vw 0vw !important;
}

@media (max-width: 1200px) and (min-height: 800px) {
    .article-container {
        padding: 1vw calc(5vw + 30px) 2vw calc(5vw + 30px) !important;
    }

    .announcement {
        display: flex;
        flex-direction: column;
        padding: 6px 0 0 0;
        justify-content: start;
        align-items: center;
        margin-bottom: 15px;
    }

    .announcement h3 {
        justify-self: center;
        align-self: center;
    }

    .announcement img {
        aspect-ratio: 25 / 15;
        width: 100%;
        height: auto;
        max-height: initial;
        max-width: 450px !important;
        border-radius: 25px;    
    }

    .announcement div {
        margin-top: 15px;
        height: 30vh;
        width: 95%;
        overflow-y: scroll;
        margin-left: 2vw;
    }

    .announcement p {
        width: 100%;
        text-align: left;
        font-size: 18px;
    }
}


.auto-scroll {
    overflow: hidden;
}

.auto-scroll-items {
    display: flex;
    gap: 20px;
    width: max-content;
    will-change: transform;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50% - 10px));
    }
}