@{
    ViewData["Title"] = "Home Page";
}

@model CinemaSite.ViewModels.HomeIndexViewModel

<div class="text-center">

    <div class="horizontal-scroll">
        @if (Model != null) {
            @foreach (var item in Model.Articles)
            {
                <div>
                    <td>@item.title</td>
                    <td>@item.content</td>
                </div>
            }
        }
    </div>
</div>
