@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TicketTypeEntity>

<div class="text-center">
    @if (Model != null) {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ticket_type_id</td>
                <td>@item.ticket_type</td>
            </tr>
        }
    }
</div>
