@{
    ViewData["Title"] = "Aktualności";
}

@model CinemaSite.ViewModels.DatabaseViewModel

<div class="text-center">
    <h1 class="page-title">AKTUALNOŚCI</h1>

    <div class="vertical-flex">
        @if (Model != null)
        {
            @foreach (var item in Model.Articles)
            {
                var articleImage = $"/Content/img{item.image_id}.jpg";

                <div class="innerdiv">
                    <article class="announcement">
                        <h3>@item.title</h3>
                        <img src="@articleImage" alt="Image for @item.title" />
                        <div>
                            <p>@item.content</p>
                        </div>
                    </article>
                </div>
            }
        }
    </div>
</div>

